DOMAIN=localhost
SUBDOMAIN=local

ORACLE_PASSWORD=demo-oracle-password
ORACLE_USER=demo
ORACLE_USER_PASSWORD=demo-oracle-user-password

MARIADB_ROOT_PASSWORD=demo-mariadb-root-password
MARIADB_DATABASE=demo_db
MARIADB_USER=demo
MARIADB_PASSWORD=demo-mariadb-password

TRAEFIK_DASHBOARD_USER=admin
TRAEFIK_DASHBOARD_PASSWORD_HASH={SHA}vQRdh+nM7kpl5tFIMdWZlUQ4aDw=

WATCHTOWER_SCHEDULE=0 0 4 * * *
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=demo-grafana-password

RESTIC_PASSWORD=demo-restic-password
RESTIC_REPOSITORY=/repository
RESTIC_INTERVAL=86400